/* Css que faz a imagem dar zoom */

.full-screen-main-div {
  position: relative;
  overflow-y: auto;

  margin-top: 20px;
  margin-bottom: 20px;

  display: block !important;
  -webkit-overflow-scrolling: touch;

  &.zoomDiv {
    overflow-x: scroll;
    width: 100%;
    max-height: 500px;

    @media (max-width: 767.98px) {
      max-height: 400px;
    }

    @media (max-width: 575.98px) {
      max-height: 320px;
    }

    @media (max-width: 375px) {
      max-height: 230px;
    }
  }

  img {
    &.openImgZoom {
      max-width: 1200px;
    }
  }
}

.header-interno {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;

  .info-header-interno {
    padding: 211px 0 40px;

    .header-title {
      color: var(--text-white);
      font-weight: 400;
    }

    .list-history-page {
      margin-bottom: 0;
      padding: 0;

      display: flex;
      align-items: center;
      flex-wrap: wrap;

      li {
        font-size: rem(14);

        img {
          margin-right: 8px;
        }

        a {
          text-decoration: none;
          color: var(--text-grey-scale-03);

          &:hover {
            text-decoration: underline;
          }
        }

        &:not(:last-child) {
          display: flex;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            line-height: 100%;
          }

          &::after {
            content: "";
            display: block;
            margin-left: 8px;
            margin-right: 8px;
            width: 12px;
            height: 12px;
            background-image: url("../images/icons/icon-arrow-right-small.svg");
          }
        }

        &.active {
          a {
            color: var(--text-white);
          }
        }
      }
    }
  }
}

.section-compartilhar {
  padding-top: 24px;
  padding-bottom: 64px;
}

.flex-compartilhar {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--text-grey-scale-02);
  padding-top: 16px;

  span {
    color: var(--text-azul-1);
    font-size: rem(14);
    margin-right: 8px;
  }

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;

    li {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

#mainInternal > section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex-header-filtro {
  display: flex;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
  }
}

.filtro-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin-top: 0;

  @media (max-width: 475px) {
    flex-direction: column;
  }
}

.form-select-filtro {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  gap: 4px;
  background-color: transparent;
  border: 1px solid var(--text-grey-scale-04);

  padding: 8px;

  @media (min-width: 475px) {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media (max-width: 475px) {
    margin-bottom: 12px;
  }

  label {
    font-size: rem(10);
    color: var(--text-color);
  }

  select {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding: 3px 30px 3px 0px;
    font-size: rem(14);
    min-width: 135px;

    background-image: url("../images/icons/icon-arrow-down-full.svg");

    option {
      color: var(--pure-black);
    }
  }
}

.img-perfil-corporativo,
.img-missao-riweb,
.img-missao-riweb {
  img {
    max-width: 480px;
    width: 100%;
    max-height: 350px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.img-missao-riweb {
  img {
    max-height: 397px;
  }
}

.img-valores-empresa {
  img {
    max-height: 420px;
  }
}

.img-sustentabilidade-100 {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.section-nossa-visao {
  padding: 145px 0 85px !important;
  background-image: url("../images/bg-nossa-visao.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 991px) {
    background-position: top left;
  }

  h2,
  p {
    color: var(--text-white);
  }
}

.main-banner {
  position: relative;
  z-index: 1;

  img {
    height: 473px;
    width: 100%;
    object-fit: cover;
  }
}

.pagination-banner {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 473px;
  display: flex;
  align-items: end;
  justify-content: flex-start;
  padding-bottom: 80px;

  z-index: 3;

  h1 {
    z-index: 3;
    // Sobre Nós
    color: white;
    font-size: 40px;
    font-family: var(--font-roboto-slab);
    font-weight: 700;
    line-height: 52.8px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1500px) {
  .container-internas {
    max-width: 1152px !important;
  }
}

.texts-sobre-nos {
  padding: 80px 0px;

  .brz-desafios {
    display: flex;
    gap: 24px;
    padding-bottom: 40px;

    .texts-1 {
      h2 {
        color: #ed7d31;
        font-size: 34px;
        font-family: var(--font-roboto-slab);
        font-weight: 300;
        line-height: 44.88px;
        word-wrap: break-word;
      }
    }

    .texts-2 {
      p {
        color: #666666;
        font-size: 16px;
        font-family: var(--font-roboto-slab);
        font-weight: 400;
        line-height: 24.8px;
        word-wrap: break-word;
      }
    }
  }

  .brz-selos {
    display: flex;
    gap: 16px;

    .brz-selos-imgs {
      background-color: #fafafa;
      padding: 32px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 8px;

      h6 {
        color: #70737a;
        font-size: 18px;
        font-family: var(--font-roboto-slab);
        font-weight: 700;
        line-height: 25.2px;
        word-wrap: break-word;
      }
    }
  }
}

.section-propostas {
  padding: 80px 0px;
  background-color: #595b61;

  .container-propostas {
    .prop-title {
      text-align: center;

      h2 {
        margin: 0;
        padding: 0;

        color: white;
        font-size: 34px;
        font-family: var(--font-roboto-slab);
        font-weight: 300;
        line-height: 44.88px;
        word-wrap: break-word;
      }
    }
  }
}

.cards-prop:nth-child(3) {
  &:hover {
    background-color: #ed7d31;
    transition: 0.5s ease;

    h4 {
      transform: translateX(5%) !important;
    }
  }
}

.cards-prop:nth-child(4) {
  &:hover {
    background-color: #ed7d31;
    transition: 0.5s ease;

    h4 {
      transform: translateX(93%) !important;
    }
  }
}

.cards-prop-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 8px;

  .cards-prop {
    background-color: #70737a;
    border-radius: 4px;
    width: 100%;
    transition: 0.5s ease;
    height: auto;
    padding: 48px 40px;

    &:hover {
      background-color: #ed7d31;
      transition: 0.5s ease;
      // text-align: center;

      h4 {
        transform: translateX(32%);
      }

      .imgs-card-prop {
        img {
          transform: translateX(150%) translateY(0);
          transition: 0.4s;

          @media (max-width: 1499px) {
            transform: translateX(100%) translateY(0);
          }
        }
      }
    }

    &:last-child {
      background-color: #ed7d31;
    }

    .imgs-card-prop {
      width: fit-content;
      transition: 0.4s;

      img {
        width: 56px;
        transition: 0.4s;
      }

      h4 {
        color: white;
        font-size: 24px;
        font-family: var(--font-roboto-slab);
        font-weight: 700;
        line-height: 31.68px;
        word-wrap: break-word;
        margin: 0;
        transition: 0.5s ease;

        padding: 0;

        margin-top: 24px;
        position: absolute;

        @media (max-width: 1499px) {
          width: 148px;
        }
      }

      p {
        color: white;
        font-size: 16px;
        font-family: var(--font-roboto-slab);
        font-weight: 300;
        line-height: 24.8px;
        word-wrap: break-word;
        margin-top: 128px;
        transition: 0.5s ease;
      }
    }
  }
}

.img-main-prop {
  width: fit-content;
  padding: 16px;
}

.timeline-sobre {
  background-color: #70737a;
  padding: 80px 0px;
}

.title-timeline {
  h2 {
    color: white;
    font-size: 34px;
    font-family: var(--font-roboto-slab);
    font-weight: 300;
    line-height: 44.88px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;

    margin-bottom: 40px;
  }
}

.container-timeline-last {
  display: flex;
  flex-direction: column-reverse;
}

.nav-timeline .slick-prev {
  display: none !important;
}

.nav-timeline .slick-next {
  display: none !important;
}

.container-esg {
  padding: 80px 0px;

  .cultura-esg {
    h2 {
      color: #ed7d31;
      font-size: 34px;
      font-family: var(--font-roboto-slab);
      font-weight: 300;
      line-height: 44.88px;
      word-wrap: break-word;
      margin: 0;
      padding: 0;
      margin-bottom: 24px;
    }

    p {
      margin: 0;
      padding: 0;
      color: #666666;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
    }
  }
}

.container-esg-tabs {
  background-color: #fafafa;

  h3 {
    color: #70737a;
    font-size: 28px;
    font-family: var(--font-roboto-slab);
    font-weight: 600;
    line-height: 39.2px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}

.tabs-esg {
  .container-tabs-home {
    padding: 0px;

    .tab__content {
      border-bottom: none !important;
      width: 100%;
      height: fit-content !important;
    }

    .tab-wrap {
      margin-top: 64px;
    }
  }
}

.list-downloads-brz {
  padding: 80px 0px;

  .container-internas {
    padding: 0;
  }

  .title-downloads {
    h2 {
      margin: 0;
      padding: 0;

      color: #ed7d31;
      font-size: 34px;
      font-family: var(--font-roboto-slab);
      font-weight: 300;
      line-height: 44.88px;
      word-wrap: break-word;
    }
  }
}

.list-downloads-itens {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid rgb(220, 220, 220);
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    padding: 16px 16px;
    transition: 0.4s;

    .icons-infos-downloads {
      transition: 0.3s;

      .img-fixed-d {
        opacity: 0;
        // display: none;
      }

      .img-d-hover {
        opacity: 1;
      }
    }
  }

  .first-infos-downloads {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
      color: #444444;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
      letter-spacing: 1.3px;
    }

    p {
      color: #666666;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 25.6px;
      word-wrap: break-word;
    }

    img {
      opacity: 0.7;
      width: 12px;
    }
  }
}

.icons-infos-downloads {
  display: flex;
  flex-direction: row-reverse;

  .img-d-hover {
    opacity: 0;
    transition: 0.3s;
  }

  .img-fixed-d {
    opacity: 1;
    transition: 0.3s;
  }
}

.list-downloads-itens-container {
  margin-top: 24px;

  a {
    text-decoration: none;
  }
}

.tabs-private {
  padding: 80px 0px;
}

.container-cards-tabs {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 24px;

  .cards-tabs {
    border-radius: 4px;

    .thumb-card {
      // width: 466px;
      width: 100%;
      height: 280px;

      img {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .infos-cards-tabs {
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border: 1px solid #dddddd;
      background-color: #fafafa;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      small {
        background-color: #dddddd;
        padding: 4px 8px;
        border-radius: 4px;
        color: #666666;
        font-size: 12px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 15.84px;
        word-wrap: break-word;
        width: fit-content;
      }

      h6 {
        margin: 0;
        padding: 0;

        color: #595b61;
        font-size: 18px;
        font-family: var(--font-roboto-slab);
        font-weight: 700;
        line-height: 25.2px;
        word-wrap: break-word;
      }
    }
  }
}

.container-tabs-private {
  .container-tabs-home {
    padding: 0;

    .tab__content {
      border-bottom: none;
      width: 100%;
      height: fit-content !important;
    }

    .container-cards-tabs {
      padding-top: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      gap: 24px;

      .cards-tabs {
        border-radius: 4px;

        .thumb-card {
          // width: 466px;
          width: 100%;
          height: 280px;

          img {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }

        .infos-cards-tabs {
          padding: 32px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          border: 1px solid #dddddd;
          background-color: #fafafa;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;

          small {
            background-color: #dddddd;
            padding: 4px 8px;
            border-radius: 4px;
            color: #666666;
            font-size: 12px;
            font-family: var(--font-sans);
            font-weight: 400;
            line-height: 15.84px;
            word-wrap: break-word;
            width: fit-content;
          }

          h6 {
            margin: 0;
            padding: 0;

            color: #595b61;
            font-size: 18px;
            font-family: var(--font-roboto-slab);
            font-weight: 700;
            line-height: 25.2px;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

.container-fundos {
  padding: 80px 0px;

  h2 {
    color: #ed7d31;
    font-size: 34px;
    font-family: var(--font-roboto-slab);
    font-weight: 300;
    line-height: 44.88px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;

    padding-bottom: 24px;
  }

  p {
    color: #666666;
    font-size: 16px;
    font-family: var(--font-sans);
    font-weight: 400;
    line-height: 24.8px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;

    padding-bottom: 24px;
    border-bottom: 1px solid rgb(212, 212, 212);
  }
}

.fundos-amata {
  display: flex;
  gap: 24px;
  // justify-content: space-between;
  padding-top: 24px;

  .fundos-itens {
    width: 171px;

    small {
      color: #6c7480;
      font-size: 12px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 15.84px;
      word-wrap: break-word;
      margin: 0;
      padding: 0;
    }

    h3 {
      color: #262b33;
      font-size: 28px;
      font-family: var(--font-roboto-slab);
      font-weight: 600;
      line-height: 39.2px;
      word-wrap: break-word;
      margin: 0;
      padding: 0;
    }
  }
}

.crc-amata {
  // background-color: #fafafa;
  display: flex;
  flex-direction: row-reverse;
}

.image-crc {
  position: absolute;
  right: 0;

  display: flex;
  justify-content: flex-end;
  width: 50%;
  // height: 100%;
  height: 1038px;
  img {
    // width: 986px;

    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.infos-crc {
  h2 {
    color: #ed7d31;
    font-size: 34px;
    font-family: var(--font-roboto-slab);
    font-weight: 300;
    line-height: 44.88px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}

.content-amata {
  width: 100%;
  padding: 80px 0px;

  .cards-crc-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding-top: 16px;

    .cards-crc {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 24px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid rgb(223, 221, 221);

      small {
        color: #999999;
        font-size: 12px;
        font-family: var(--font-sans);
        font-weight: 700;
        line-height: 15.84px;
        word-wrap: break-word;
      }

      span {
        color: #262b33;
        font-size: 14px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 19.6px;
        word-wrap: break-word;
      }
    }
  }
}

.carrosel-amata {
  // background-color: #595b61;
  // padding: 80px 0px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
}

.title-carrosel {
  p {
    color: #d3d5d9;
    font-size: 16px;
    font-family: var(--font-sans);
    font-weight: 400;
    line-height: 24.8px;
    word-wrap: break-word;
  }
}

.content-carrosel {
  // padding-top: 24px;
}

.img-swiper {
  img {
    height: 550px !important;
    object-fit: cover;
    border-radius: 4px;
  }
}

.swiper-amata {
  height: 600px !important;

  .swiper-pagination {
    top: var(--swiper-pagination-top, 570px) !important;
    height: fit-content;

    .swiper-pagination-bullet {
      transition: 0.6s;
      border-radius: 150px !important;
      transition: 0.3s;
      height: 8px;
      background-color: #8a8c8f !important;
    }

    .swiper-pagination-bullet-active {
      transition: 0.3s;
      width: 80px;
      background-color: #ed7d31 !important;
    }
  }
}

.cards-credito-container {
  padding-top: 112px;
  padding-bottom: 80px;

  .cards-credito-title {
    h2 {
      color: #595b61;
      font-size: 34px;
      font-family: var(--font-roboto-slab);
      font-weight: 300;
      line-height: 44.88px;
      word-wrap: break-word;
      margin: 0;
      padding: 0;
    }
  }

  .cards-credito {
    margin-top: 24px;
  }
}

.cards-credito-content {
  display: flex;

  .cards-credito {
    padding: 48px 32px;
    background-color: rgba(125, 125, 125, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    transition: 0.4s;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: #b1b2b4e5;
    }

    &:nth-child(2) {
      background-color: #918f8fe5;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #565555e5;
    }

    &:hover {
      transition: 0.4s;

      h3 {
        padding-left: 10px;
        transition: 0.4s;
      }

      p {
        padding-left: 10px;
        transition: 0.4s;
      }

      img {
        padding-left: 10px;
        transition: 0.4s;
      }

      // &::before {
      //   content: "";
      //   transition: 0.4s;
      //   position: absolute;
      //   height: 450px;
      //   border: 1px solid red;
      //   background-color: red;
      // }
    }

    h3 {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 28px;
      font-family: var(--font-roboto-slab);
      font-weight: 600;
      line-height: 39.2px;
      word-wrap: break-word;
      transition: 0.4s;
    }

    img {
      margin: 32px 0px;
      height: 2px;
      transition: 0.4s;
    }

    p {
      transition: 0.4s;
      margin: 0;
      padding: 0;

      color: white;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
    }
  }
}

.tabs-credito-container {
  background-color: #fafafa;
  padding: 80px 0px;

  .itens-home-tab {
    width: 100%;

    .tab-pane {
      padding-top: 64px;
      padding-bottom: 0;
      border-bottom: transparent;
    }
  }
}

.cards-tab-credito {
  display: flex;
  gap: 16px;

  .cards-tab-c {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #cacfdb;
    padding: 32px 40px;

    img {
      width: 90px;
      margin-bottom: 40px;
    }

    p {
      color: #666666;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
    }
  }
}

.container-equipe {
  padding: 80px 0px;

  h2 {
    color: #70737a;
    font-size: 34px;
    font-family: var(--font-roboto-slab);
    font-weight: 300;
    line-height: 44.88px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}

.container-cards-equipe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding-top: 64px;

  a {
    text-decoration: none;
  }

  .cards-equipe {
    width: 100%;

    img {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }

    .infos-equipe {
      padding: 40px 24px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-color: #eeeeee;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      h5 {
        color: #595b61;
        font-size: 21px;
        font-family: var(--font-roboto-slab);
        font-weight: 600;
        line-height: 29.4px;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
      }

      p {
        color: #999999;
        font-size: 16px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 24.8px;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.container-contatos {
  padding: 80px 0px;

  .container-internas {
    max-width: 891px !important;
  }

  h2 {
    color: #ed7d31;
    font-size: 34px;
    font-family: var(--font-roboto-slab);
    font-weight: 300;
    line-height: 44.88px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}

.container-inputs-contatos {
  display: grid;
  padding-top: 64px;

  .inputs-contatos {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0px;
    }

    label {
      color: #222222;
      font-size: 12px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 15.84px;
      word-wrap: break-word;
      margin-bottom: 8px;
    }

    input {
      border-radius: 4px;
      padding: 10px 12px;
      border: 1px solid #333333;

      &::placeholder {
        color: #b1b0b0;
        font-size: 16px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 24.8px;
        word-wrap: break-word;
      }
    }

    textarea {
      padding: 10px 12px;
    }

    textarea::placeholder {
      color: #b1b0b0;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
    }
  }
}

.btns-contatos {
  padding-top: 32px;
  display: flex;
  gap: 24px;
  align-items: center;

  a {
    &:first-child {
      // Limpar
      color: #111111;
      font-size: 16px;
      text-decoration: none;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
      border-radius: 8px;
      border: 1px solid #111111;
      background-color: #dddddd;

      padding: 12px 20px;
    }

    &:nth-child(2) {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
      border-radius: 8px;
      border: 0px;
      background-color: #ed7d31;

      padding: 12px 20px;

      display: flex;
      gap: 8px;
      width: fit-content;
      align-items: center;

      img {
        width: 16px;
      }
    }
  }
}

.container-carreira {
  padding: 80px 0px;

  h2 {
    color: #ed7d31;
    font-size: 34px;
    font-family: var(--font-roboto-slab);
    font-weight: 300;
    line-height: 44.88px;
    word-wrap: break-word;
    text-align: center;

    margin: 0;
    padding: 0;
  }
}

.cards-carreira-content {
  margin-top: 40px;
  display: flex;
  gap: 24px;

  .cards-carreira {
    border-radius: 4px;
    background-color: #fafafa;
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s;

    &:hover {
      transition: 0.4s;
      background-color: #ed7d31;

      img {
        transition: 0.4s;
        filter: brightness(18) contrast(1);
        opacity: 1;
      }

      h4 {
        color: white;
      }

      small {
        color: white;
      }
    }

    img {
      transition: 0.4s;

      width: 56px;
      margin-bottom: 40px;
    }

    a {
      text-decoration: none;
      margin: 0;
      padding: 0;
      line-height: 0px !important;

      small {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          width: 20px;
          opacity: 0;
          margin-bottom: 0px;
        }
      }
    }

    h4 {
      margin: 0;
      padding: 0;
      padding-bottom: 24px;

      color: #666666;
      font-size: 22px;
      font-family: var(--font-roboto-slab);
      font-weight: 700;
      line-height: 29.04px;
      word-wrap: break-word;
    }

    small {
      margin: 0;
      padding: 0;

      color: #666666;
      font-size: 12px;
      font-family: var(--font-roboto-slab);
      font-weight: 400;
      line-height: 15.84px;
      word-wrap: break-word;
    }
  }
}

.video-amata {
  width: 100%;
  height: 367px;

  video {
    height: 367px;
    width: 100%;
    object-fit: cover;
  }
}

.container-esg-title {
  padding-top: 80px;
  padding-bottom: 64px;
}

.container-tabs-esg {
  padding-bottom: 80px;

  .itens-home-tab {
    width: 100%;

    .nav-item {
      .nav-link {
        text-transform: none !important;
      }
    }
    .tab-pane {
      padding-bottom: 0px;
      padding-top: 32px;
      border: transparent !important;

      p {
        margin-bottom: 0px !important;
      }
    }
  }
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent transparent #ed7d31 !important;
}

.container-tabs-private {
  padding: 80px 0px;

  .itens-home-tab {
    width: 100%;

    .nav-link {
      text-transform: none;
    }

    .tab-pane {
      padding-bottom: 0px;
      border-bottom: transparent !important;

      p {
        margin: 0px;
      }
    }
  }
}

.container-infos-credito-tab {
  display: flex;
  gap: 24px;
}

.tab-pane {
  .infos-credito-tab {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    small {
      color: #999999;
      font-size: 12px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 15px;
    }

    h3 {
      color: #70737a;
      font-size: 21px;
      font-family: var(--font-roboto-slab);
      font-weight: 400;
      line-height: 29px;
    }

    p {
      color: #999999;
      font-size: 12px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 15px;
    }
  }
}

.cards-infos-credito-2 {
  width: 19.5%;
  display: flex;

  img {
    object-fit: cover;
  }
}

.imagem-transicao {
  // width: 12px;
  width: 35px;
  height: auto;
  transition: width 0.5s;
}

.cards-credito:hover .imagem-transicao {
  width: 95%;
  border: 1px solid white;
  margin-left: 10px;
}

.cards-credito {
  transition: background 0.3s ease !important;
}

.cards-credito:hover {
  background: rgb(237, 125, 49);
  background: linear-gradient(
    0deg,
    rgba(237, 125, 49, 1) 0%,
    rgba(255, 255, 255, 0) 94%
  );
}
