[data-theme="dark"] {
  background-color: #1d1d1d;

  // Font Family

  // Text Colors

  --text-color: #ffffff;

  --text-white: #ffffff;
  --text-black: #ffffff;

  --text-primary-01-default: #ffffff;
  --text-primary-01-var-1: #ffffff;
  --text-primary-01-var-2: #ffffff;

  --text-secondary-01-default: #ffffff;
  --text-secondary-01-var-1: #ffffff;
  --text-secondary-01-var-2: #ffffff;

  --text-grey-scale-00: #ffffff;
  --text-grey-scale-01: #ffffff;
  --text-grey-scale-02: #ffffff;
  --text-grey-scale-03: #ffffff;
  --text-grey-scale-04: #ffffff;
  --text-grey-scale-05: #ffffff;

  --text-grey-scale-c4: #ffffff;

  --text-disabled: #ffffff;

  // Solid Colors

  --pure-white: #1d1d1d;
  --pure-black: #1d1d1d;

  --primary-01-default: #1d1d1d;
  --primary-01-var-1: #1d1d1d;
  --primary-01-var-2: #1d1d1d;

  --secondary-01-default: #1d1d1d;
  --secondary-01-var-1: #1d1d1d;
  --secondary-01-var-2: #1d1d1d;

  --grey-scale-00: #1d1d1d;
  --grey-scale-01: #1d1d1d;
  --grey-scale-02: #1d1d1d;
  --grey-scale-03: #1d1d1d;
  --grey-scale-04: #1d1d1d;
  --grey-scale-05: #1d1d1d;
  --grey-scale-06: #1d1d1d;
  --grey-scale-07: #1d1d1d;
  --grey-scale-F2F2: #1d1d1d;

  --system-disabled: #bfbfbf;

  // --system-link: #1a0dab;
  --system-link: #008bff;
  --system-link-visited: #1b1466;
  --system-negative: #d23a20;
  --system-alert: #ecb307;
  --system-positive: #1e986f;
}

//ajustes
[data-theme="dark"] {
  .header {
    background-color: #1d1d1d;
  }

  .header .content .logo-header img {
    filter: contrast(1) brightness(18);
  }

  .header
    .content
    .nav-menu-header
    > ul
    .header-navigation-item
    .dropdown-toggle {
    color: white;
  }

  .header .content .header-right-side .open-searchbox .icon-busca::before {
    color: white;
  }

  .area-restrista a {
    color: white;

    img {
      filter: contrast(1) brightness(18);
    }
  }

  .num-brz {
    background-color: #1d1d1d;
  }

  .container-brz .first-infos small {
    color: white;
  }

  .tabs-home {
    background-color: #1d1d1d;
  }

  .itens-home-tab .nav-link.active {
    color: white;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff !important;
  }

  .itens-home-tab .nav-link {
    color: white;
  }

  .itens-home-tab .tab-pane span {
    color: white;
  }

  .itens-home-tab .tab-pane h3 {
    color: white;
  }

  .itens-home-tab .tab-pane p {
    color: white;
  }

  .itens-home-tab .tab-pane .texts-infos-tab h4 {
    color: white;
  }

  .itens-home-tab .tab-pane .texts-infos-tab p {
    color: white;
  }

  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link:hover {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff !important;
  }

  .footer-fixed {
    background-color: #1d1d1d;
  }

  .footer {
    background-color: #1d1d1d;
  }

  .header
    .content
    .nav-menu-header
    > ul
    .header-navigation-item
    .dropdown-toggle.active {
    color: #fff !important;
  }

  .header-navigation-item:after {
    background-color: #fff !important;
  }

  .header
    .content
    .nav-menu-header
    > ul
    .header-navigation-item
    .dropdown-menu {
    background-color: #1d1d1d;
  }

  .dropdown-menu::before {
    background-color: #1d1d1d;
  }

  .texts-sobre-nos .brz-desafios .texts-1 h2 {
    color: #fff;
  }

  .texts-sobre-nos .brz-desafios .texts-2 p {
    color: #fff;
  }

  .texts-sobre-nos .brz-selos .brz-selos-imgs {
    background-color: #282828;
  }

  .brz-selos-imgs img {
    filter: grayscale(1) brightness(14.5);
  }

  .section-propostas {
    background-color: #1d1d1d;
  }

  .texts-sobre-nos .brz-selos .brz-selos-imgs h6 {
    color: white;
  }

  .cards-prop-container .cards-prop {
    background-color: #282828;

    &:hover {
      background-color: #282828;
    }
  }

  .timeline-sobre {
    background-color: #1d1d1d;
  }

  .cards-prop-container .cards-prop:last-child {
    background-color: #282828;
  }

  .nav-timeline .slick-current.item span {
    color: #fff;
  }

  .nav-timeline .slick-current.item::after {
    color: #fff;
    background-color: #fff;
    border: 1px solid #fff;
  }

  .item.slick-slide.slick-current.slick-active {
    border-top: 2px solid #fff;
  }

  .container-esg .cultura-esg h2 {
    color: #fff;
  }

  .container-esg .cultura-esg p {
    color: #fff;
  }

  .container-esg-tabs {
    background-color: #1d1d1d;
  }

  .container-esg-tabs h3 {
    color: #fff;
  }

  .list-downloads-brz .title-downloads h2 {
    color: #fff;
  }

  .list-downloads-itens .first-infos-downloads span {
    color: #fff;
  }

  .list-downloads-itens .first-infos-downloads p {
    color: #fff;
  }

  .list-downloads-itens .first-infos-downloads img {
    filter: grayscale(1) brightness(18);
  }

  .list-downloads-itens:hover .icons-infos-downloads .img-fixed-d {
    filter: grayscale(1) brightness(18);
  }

  .icons-infos-downloads .img-d-hover {
    filter: grayscale(1) brightness(18);
  }

  .icons-infos-downloads .img-fixed-d {
    filter: grayscale(1) brightness(18);
  }

  .container-cards-tabs .cards-tabs .infos-cards-tabs {
    background-color: #282828;
    border: 1px solid #282828;
  }

  .container-cards-tabs .cards-tabs .infos-cards-tabs h6 {
    color: #fff;
  }

  .container-cards-tabs .cards-tabs .infos-cards-tabs small {
    background-color: #282828;
    color: #fff;
  }

  .cards-credito {
    background-color: #282828 !important;

    &:hover {
      // background: #282828 !important;
    }
  }

  .tabs-credito-container {
    background-color: #1d1d1d;
  }

  .cards-tab-credito .cards-tab-c {
    background-color: #282828;
    border: 1px solid #282828;
  }

  .cards-credito-content .cards-credito img {
    filter: grayscale(1) brightness(18);
  }

  .cards-credito-container .cards-credito-title h2 {
    color: #fff;
  }

  .cards-tab-credito .cards-tab-c img {
    filter: grayscale(1) brightness(18);
  }

  .container-equipe h2 {
    color: #fff;
  }

  .container-cards-equipe .cards-equipe .infos-equipe {
    background-color: #282828;
    border: 1px solid #282828;
  }

  .container-cards-equipe .cards-equipe .infos-equipe h5 {
    color: #fff;
  }

  .container-cards-equipe .cards-equipe .infos-equipe p {
    color: #fff;
  }

  .container-contatos h2 {
    color: #fff;
  }

  .container-inputs-contatos .inputs-contatos label {
    color: #fff;
  }

  .btns-contatos a:nth-child(2) {
    background-color: #282828;
  }

  .btns-contatos a:nth-child(1) {
    background-color: #282828;
    color: white;
  }

  .container-carreira h2 {
    color: white;
  }

  .cards-carreira-content .cards-carreira {
    background-color: #282828;
    border: 1px solid #282828;

    &:hover {
      background-color: #282828;
    }
  }

  .cards-carreira-content .cards-carreira img {
    filter: grayscale(1) brightness(18);
  }

  .cards-carreira-content .cards-carreira h4 {
    color: white;
  }

  .cards-carreira-content .cards-carreira a small {
    color: white;
  }

  p {
    color: #fff;
  }

  .txts-denuncias p {
    color: #fff;
  }

  .cmb-denuncias label {
    color: #fff;
  }

  .primary-button {
    background-color: #282828;
    border: 1px solid #282828;

    &:hover {
      background-color: #282828;
      border: 1px solid #282828;
    }
  }

  .searchbox .input-group .input-group-text button [class^="icon-"]::before {
    color: #fff;
  }

  .modal-content {
    background-color: #282828;
  }

  .close span {
    color: #fff;
  }

  .modal .modal-title {
    color: #fff;
  }

  .modal .modal-title small {
    color: #fff;
  }

  .modal .modal-texts p {
    color: #fff;
  }

  .social-modal a {
    color: #fff;

    img {
      filter: grayscale(1) brightness(18);
    }
  }

  .container-fundos h2 {
    color: #fff;
  }

  .container-fundos p {
    color: #fff;
  }

  .fundos-amata .fundos-itens small {
    color: #fff;
  }

  .fundos-amata .fundos-itens h3 {
    color: #fff;
  }

  .infos-crc h2 {
    color: #fff;
  }

  .content-amata .cards-crc-container .cards-crc {
    background-color: #282828;
    border: 1px solid #282828;
  }

  .content-amata .cards-crc-container .cards-crc span {
    color: #fff;
  }

  .swiper-amata .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff !important;
  }

  .button-decor {
    background-color: #282828 !important;
    border: 1px solid #282828 !important;
  }

  .button {
    border: 1px solid #282828 !important;
  }

  .button__icon img {
    filter: grayscale(1);
  }

  .accordion .accordion-header button {
    background-color: transparent;
    border-bottom: 1px solid #fff !important;
    color: #fff;
  }

  .accordion .accordion-header button::after {
    color: #fff !important;
  }

  .container-cards-tabs .cards-tabs:hover .infos-cards-tabs small {
    background-color: #383838 !important;
  }

  .container-cards-tabs .cards-tabs .infos-cards-tabs a {
    color: #fff;
  }

  .modal-header .btn-close {
    filter: contrast(0.9) brightness(44.5);
  }

  .form-login button.primary-button {
    background-color: #3f3f3f;
    color: white;
  }

  a {
    color: white;
  }

  .header
    .content
    .nav-menu-header
    > ul
    .header-navigation-item
    .dropdown-menu
    li
    .dropdown-item {
    color: white;
  }
}
