.footer {
  background-color: #2a2b2e;
  padding-top: 24px;
  padding-bottom: 40px;

  margin-top: auto;

  .footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    @media (max-width: 991px) {
      align-items: unset;
      gap: 16px;
    }

    @media (max-width: 450px) {
      gap: 19px;
    }

    @media (max-width: 375px) {
      flex-direction: column;
    }

    .direitos-reservados {
      @media (max-width: 767px) {
        flex: 100%;
      }
    }

    p {
      color: var(--text-white);
      font-size: 12px;
      margin: 0;
    }

    .byRiweb {
      display: flex;
      align-items: center;

      span {
        font-size: 12px;
      }

      img {
        flex-shrink: 0;
        margin-left: 12px;

        @media (max-width: 991px) {
          margin-left: 0px;
        }
      }
    }

    .termos-condicoes {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      @media (max-width: 400px) {
        display: grid;
        grid-template-columns: auto auto;
      }

      li {
        margin-bottom: 0px;

        a {
          color: #cacfdb;
          font-size: 12px;
          font-family: var(--font-sans);
          font-weight: 400;
          line-height: 15.84px;
          word-wrap: break-word;

          display: flex;
          align-items: center;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        &:not(:last-child) {
          a {
            gap: 16px;
            margin-right: 16px;

            &::after {
              content: "";
              width: 1px;
              height: 13px;
              background-color: #cacfdb;
              display: block;
            }
          }
        }
      }
    }
  }
}

.last-map-footer {
  display: none;

  @media (max-width: 1199px) {
    display: block;

    .top-footer-fixed {
      display: flex !important;
      padding-bottom: 16px;
    }

    @media (max-width: 476px) {
      padding-bottom: 0px;
    }
  }
}

.footer-fixed {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2a2b2e;
  // padding: 11px 0;
  // z-index: 200;
  max-height: calc(100% - 66px);
  overflow-y: auto;

  @media (max-width: 500px) {
    position: relative;
  }

  .top-footer-fixed {
    display: none;
    align-items: center;

    .iframe-cotacoes {
      height: 27px;
      flex: 1;

      iframe {
        height: 27px;
        width: 100%;
      }
    }

    .button-mapa-site {
      background: none;
      border: none;
      color: var(--text-white);
      align-items: center;
      gap: 16px;
      padding: 0;
      display: flex;

      margin-right: 20px;

      @media (max-width: 375px) {
        justify-content: center;
      }

      span {
        // Mapa do site
        color: #cacfdb;
        font-size: 14px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 19.6px;
        word-wrap: break-word;
      }

      i {
        transition: 0.3s ease;
        font-size: rem(12);
      }

      &.active {
        i {
          transform: rotate(45deg);
        }
      }
    }
  }

  .list-menu-footer {
    display: flex;
    gap: 42px;
    width: 100%;

    margin-top: 12px;
    margin-bottom: 12px;

    &.show {
      display: flex;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 24px;
    }

    > div {
      width: calc(100% / 4);

      @media (max-width: 767px) {
        width: 100%;
      }

      h5 {
        margin-top: 0;
        color: var(--text-white);
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 12px;

        @media (max-width: 375px) {
          text-align: center;
        }
      }

      ul {
        padding: 0;
        margin-bottom: 0;

        @media (max-width: 375px) {
          text-align: center;
        }

        li {
          a {
            font-size: 12px;
            color: var(--text-grey-scale-02);
            font-family: var(--font-sans);
            text-decoration: none;

            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 12px;

            &:hover {
              text-decoration: underline;
            }
          }
          /*
                    &.link-externo {
                        a {
                            &::after {
                                content: url("../../images/icon/icon-externo.svg");
                                height: 16px;
                            }
                        }
                    }*/
        }
      }
    }
  }
}

.contents-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  padding-top: 80px;
  border-bottom: 1px solid rgb(120, 120, 120);
  padding-bottom: 24px;

  .img-footer {
    img {
      width: 112px;
      height: 39px;
    }
  }

  .canais-footer {
    display: flex;
    gap: 16px;

    @media (max-width: 1199px) {
      display: none;
    }

    a {
      text-decoration: none;
      color: #cacfdb;
      font-size: 12px;
      font-family: var(--font-sans);
      font-weight: 700;
      line-height: 15.84px;
      word-wrap: break-word;
    }
  }
}

.contents-infos-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(120, 120, 120);
  gap: 12px;

  @media (max-width: 1199px) {
    flex-direction: column;
  }

  @media (max-width: 476px) {
    gap: 24px;
  }

  .icons-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .logos-social {
      display: flex;
      gap: 16px;
      justify-content: flex-end;

      img {
        width: 17px;
      }
    }

    .logos-others {
      display: flex;
      gap: 16px;

      .img-anbima {
        width: 83px !important;
      }

      .img-abv {
        width: 115px !important;
      }

      img {
        width: 130px;
        gap: 16px;
      }
    }
  }

  .infos-footer {
    display: flex;
    gap: 32px;

    @media (max-width: 1199px) {
      flex-direction: column;
      gap: 24px;
    }

    .texts-infos {
      display: flex;
      flex-direction: column;

      @media (max-width: 1199px) {
        &:last-child {
          flex-direction: unset !important;
          gap: 24px;

          @media (max-width: 476px) {
            flex-direction: column !important;
          }

          .others-infos {
            padding-top: 0;
          }
        }
      }

      p {
        color: #dddddd;
        font-size: 14px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 19.6px;
        word-wrap: break-word;
      }

      a {
        text-decoration: none;
      }

      .link-footer {
        // Clique aqui
        color: white;
        padding-top: 8px;
        text-decoration: none;
        font-size: 12px;
        font-family: var(--font-sans);
        font-weight: 700;
        line-height: 15.84px;
        word-wrap: break-word;
      }

      span {
        color: #dddddd;
        font-size: 14px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 19.6px;
        word-wrap: break-word;

        a {
          color: #dddddd;
          font-size: 14px;
          font-family: var(--font-sans);
          font-weight: 400;
          line-height: 19.6px;
          word-wrap: break-word;
        }
      }
    }
  }
}

.others-infos {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 8px;
}

.direitos-reservados {
  //  © Todos os direitos reservados 2023
  color: #cacfdb !important;
  font-size: 12px;
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: 15.84px;
  word-wrap: break-word;
}
