.header {
  // background-color: transparent;
  // background-color: #0000003d;
  background-color: #fff;
  // padding: 12px 0;
  transition: 0.3s;

  &.fixed {
    background-color: var(--pure-white);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media (max-width: 991px) {
    //   flex-wrap: wrap;
    // }

    @media (max-width: 468px) {
      gap: 20px;
    }

    .logo-header {
      flex-shrink: 0;

      img {
        width: 112px;
      }
    }

    .logo-colorida {
      display: none;
    }

    .nav-menu-header {
      // flex: 1;

      @media (max-width: 991px) {
        display: none;
      }

      > ul {
        display: flex;
        justify-content: flex-end;
        // margin-right: 48px !important;
        gap: 40px;

        @media (max-width: 1600px) {
          // margin-right: 16px !important;
        }

        @media (max-width: 1200px) {
          // margin-right: 7px !important;
        }

        padding: 0;
        margin: 0;

        .header-navigation-item {
          margin-bottom: 0px;

          .dropdown-toggle {
            color: #595b61;
            text-decoration: none;
            font-size: rem(14);
            font-weight: 400;
            padding: 32px 0px;

            // border: 1px solid red;
            // padding: 4px 12px;

            display: flex;
            align-items: center;

            font-family: var(--font-sans);

            &::after {
              content: "\e900";
              font-family: var(--font-icomoon);
              border: none;
              line-height: normal;
              margin-left: 4px;
              transition: 0.3s;

              display: none;
            }

            // &.active {
            //   &::after {
            //     transform: rotate(180deg);
            //   }
            // }
          }

          .dropdown-menu {
            top: 100% !important;
            border-radius: 0px;
            border: none;
            padding: 0;
            max-width: 210px;
            transition: 0.3s;
            opacity: 0;
            background-color: #ed7d31;
            box-shadow: 0px 6px 8px 1px rgb(0 0 0 / 14%);

            &.show {
              display: block;
            }

            li {
              margin: 0;
              padding: 0;

              .dropdown-item {
                font-size: rem(14);
                color: white;
                font-family: var(--font-sans);
                padding: 12px 16px;
                transition: 0.3s;
                white-space: normal;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.087);
                }
              }
            }
          }
        }
      }
    }

    .header-right-side {
      display: flex;
      align-items: center;

      // @media (max-width: 468px) {
      //   width: 100%;
      //   justify-content: space-between;
      // }

      .button-login-header {
        margin-right: 32px;

        @media (max-width: 1600px) {
          margin-right: 20px;
        }

        @media (max-width: 1200px) {
          margin-right: 12px;
        }

        @media (max-width: 468px) {
          margin-right: 0;
          padding: 0;
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--text-white);
          font-size: 14px;
        }

        p {
          margin-right: 4px;
          font-size: rem(14);
          color: var(--text-white);
          line-height: normal;
        }
      }

      .button-storys-open {
        margin-right: 24px;

        @media (max-width: 1600px) {
          margin-right: 16px;
        }

        @media (max-width: 1200px) {
          margin-right: 12px;
        }
      }

      button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
      }

      .open-searchbox {
        padding-right: 32px;

        @media (max-width: 991px) {
          display: none;
        }

        .icon-busca {
          // background-color: #008f85;
          // border-radius: 4px;
          // padding: 8px;

          &::before {
            color: #ed7d31;
            font-size: 21px;
          }
        }
      }
    }
  }
}

.avisos-container {
  margin-right: 32px;
  height: auto;
  display: flex;

  @media (max-width: 1600px) {
    margin-right: 16px;
  }

  @media (max-width: 1200px) {
    margin-right: 12px;
  }

  button {
    border-radius: 2px;

    &::after {
      content: none;
    }

    &.show {
      background-color: var(--primary-01-var-1) !important;
      padding: 6px;
    }

    i.icon-alerts {
      &::before {
        font-size: 20px;
      }
    }
  }

  .dropdown-menu-alerta {
    padding: 0;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.15);
    margin-top: 14px !important;
    position: relative;
    border-radius: 4px;
    margin-right: -6px !important;
    border: none;

    &::before {
      content: "";
      height: 28px;
      width: 28px;
      background: var(--primary-01-var-1);
      position: absolute;
      top: -6px;
      right: 7px;
      z-index: -1;
      transform: rotate(45deg);
    }

    .header-alerta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      gap: 16px;

      padding: 16px;
      background-color: var(--primary-01-var-1);

      border-top-left-radius: 2px;
      border-top-right-radius: 2px;

      h5 {
        font-size: rem(16);
        color: var(--text-white);
        font-weight: 400;
        margin: 0;
        padding: 0;
      }

      span {
        background-color: var(--primary-01-var-2);
        padding: 4px 8px;
        border-radius: 2px;
        color: var(--text-white);
        font-size: rem(12);
      }
    }

    .list-avisos {
      padding: 0 16px;
      margin-bottom: 8px;

      li {
        padding-bottom: 8px;

        &:not(:last-child) {
          margin-bottom: 16px;
          border-bottom: 1px solid #e5e5e5;
        }
      }

      a {
        text-decoration: none;

        span {
          color: var(--text-grey-scale-04);
        }

        p {
          color: var(--text-grey-scale-05);
        }
      }
    }

    .footer-alerta {
      padding: 16px;
      background-color: var(--grey-scale-02);

      > a {
        color: var(--text-primary-01-default);
        text-decoration: underline;
      }

      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.iframe-cotacao {
  height: 26px;

  @media (max-width: 991px) {
    order: 3;
    flex: 100%;
    margin-top: 20px;
  }

  iframe {
    width: 400px;
    height: 26px;

    @media (max-width: 991px) {
      width: 390px;
    }

    @media (max-width: 400px) {
      width: 250px;
    }
  }
}

.right-side-header {
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: 767px) {
    gap: 20px;
  }

  button {
    border: none;
    background: none;

    i {
      display: block;
      &::before {
        font-size: 16px;
      }
    }
  }

  .drop-idiomas {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .div-menu-open {
    display: flex;
    align-items: center;

    p {
      color: var(--text-secondary-1-var-01);
      font-size: rem(14);

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.toggle-mobile-menu {
  border: none;
  position: relative;
  margin-left: 8px;
  padding: 0;

  background-color: transparent;

  display: none !important;

  @media (max-width: 991px) {
    display: flex !important;
  }

  span {
    height: 2px;
    width: 21px;
    display: block;
    background: var(--text-white);
    transition: 0.5s ease;
    position: relative;

    &::after,
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 21px;
      border-radius: 2px;
      display: block;
      position: absolute;
      background: var(--text-white);
      transition: 0.5s ease;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }
}

.headerFixoMenu {
  transition: 0.4s;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
}

.menu-bar {
  position: fixed !important;
  box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 20%);
  background-color: var(--pure-white);
}

.headerFixoMenu.menu-bar {
  &:not(.not-transparent) {
    .header {
      .logo-white {
        display: none;
      }

      .logo-colorida {
        display: block;
      }

      .header-navigation-item {
        > a {
          color: var(--text-color) !important;
        }
      }

      a {
        color: var(--text-color);

        small {
          color: var(--text-color) !important;
        }
      }

      p {
        color: var(--text-color) !important;
      }

      button {
        i {
          &::before {
            color: var(--text-color);
          }
        }

        img {
          filter: brightness(0) invert(28%) sepia(0%) saturate(446%)
            hue-rotate(182deg) brightness(91%) contrast(81%);
        }
      }

      .toggle-mobile-menu {
        .icon-nav {
          // background-color: var(--text-color);

          &::after,
          &::before {
            // background-color: var(--text-color);
          }
        }
      }
    }

    .acessibillity-bar {
      .content {
        // span {
        //   color: var(--text-color);

        //   &::before {
        //     color: var(--text-color);
        //   }
        // }

        // p {
        //   color: var(--text-color) !important;

        //   &::after {
        //     background-color: var(--text-color) !important;
        //   }
        // }

        // a {
        //   color: var(--text-color) !important;

        //   small {
        //     color: var(--text-color) !important;
        //   }
        // }
      }
    }
  }
}

.headerFixoMenu.not-transparent {
  position: static;

  .header-right-side {
    .button-storys-open {
      border: 1px solid var(--text-color);
      border-radius: 20px;

      button {
        color: var(--text-color) !important;
      }
    }
  }

  .acessibillity-bar {
    .left-top-header {
      p {
        color: var(--text-color);
      }

      a {
        color: var(--text-color);
      }
    }

    .right-top-header {
      .drop-idiomas {
        .dropdown-toggle {
          color: var(--text-color) !important;

          .show {
            color: var(--text-color) !important;
          }
        }

        .dropdown-toggle:before {
          color: var(--text-color) !important;
        }

        dropdown-toggle::after {
          color: var(--text-color) !important;
        }
      }

      .accessibility-tools {
        p {
          color: var(--text-color) !important;
        }

        a {
          color: var(--text-color) !important;

          small {
            color: var(--text-color) !important;
          }
        }

        #decreaseFont {
          .icon-diminuir-fonte:before {
            color: var(--text-color) !important;
          }
        }

        #increaseFont {
          .icon-aumentar-fonte:before {
            color: var(--text-color) !important;
          }
        }

        #contrastToggle {
          .icon-contraste:before {
            color: var(--text-color) !important;
          }
        }
      }
    }
  }

  &.menu-bar {
    position: sticky !important;
  }

  .header {
    background-color: var(--pure-white);

    .content {
      .logo-white {
        display: none;
      }

      .logo-colorida {
        display: block;
      }

      .nav-menu-header {
        flex: 1;

        > ul {
          justify-content: flex-end;
          margin-right: 24px !important;
          .header-navigation-item {
            > a {
              color: var(--text-color) !important;
            }

            a {
              color: var(--text-color);

              small {
                color: var(--text-color) !important;
              }
            }
          }
        }
      }

      .header-right-side {
        button {
          i {
            &::before {
              color: var(--text-color);
            }
          }

          img {
            filter: brightness(0) invert(28%) sepia(0%) saturate(446%)
              hue-rotate(182deg) brightness(91%) contrast(81%);
          }
        }

        p {
          color: var(--text-color) !important;
        }

        .toggle-mobile-menu {
          .icon-nav {
            background-color: var(--text-color);

            &::after,
            &::before {
              background-color: var(--text-color);
            }
          }
        }
      }
    }
  }

  .avisos-container {
    button {
      &.show {
        background-color: var(--pure-white);
      }
    }

    .dropdown-menu-alerta {
      &::before {
        background: var(--primary-01-var-01);
      }

      .header-alerta {
        background-color: var(--primary-01-var-01);

        h5 {
          color: var(--text-white);
        }

        span {
          background-color: var(--primary-01-var-01);
          color: var(--text-white);
        }
      }

      .list-avisos {
        a {
          span {
            color: var(--text-grey-scale-04);
          }
          p {
            color: var(--text-grey-scale-05);
          }
        }
      }

      .footer-alerta {
        background-color: var(--grey-scale-02);
        > a {
          color: var(--text-primary-01-default);
        }
      }
    }
  }

  .right-side-header {
    .div-menu-open {
      p {
        color: var(--text-primary-01-default);
      }
    }
  }

  .toggle-mobile-menu {
    span {
      background: var(--text-white);

      &::after,
      &::before {
        background: var(--text-white);
      }
    }
  }
}

.menu-bar .content .header-right-side .button-storys-open {
  border: 1px solid var(--text-color);
  border-radius: 20px;

  button {
    color: var(--text-color);
  }
}

.area-restrista {
  border-left: 1px solid rgb(192, 192, 192);
  padding-left: 32px;
  border: 1px solid red($color: #000000);

  a {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #595b61;
    font-size: 14px;
    font-family: var(--font-sans);
    text-decoration: none;
    font-weight: 400;
    line-height: 19.6px;
    word-wrap: break-word;

    img {
      // width: 18px;
    }
  }
}

.dropdown-menu::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: #ed7d31;
  position: absolute;
  top: -5px;
  z-index: -1;
  left: 12px;
}

@media (max-width: 1080px) {
  .header .content {
    padding: 24px 0px;

    .header-right-side {
    }
  }

  .toggle-mobile-menu {
    display: flex !important;
  }

  .nav-menu-header {
    display: none;
  }

  .open-searchbox {
    display: none !important;
  }

  .area-restrista {
    border-left: 0px;
    margin-right: 24px;
    padding-right: 24px;
    padding-left: 0px;
    border-right: 1px solid rgb(194, 194, 194);
  }

  .area-restrista a {
    font-size: 0px;
  }

  .toggle-mobile-menu span::after,
  .toggle-mobile-menu span::before {
    background-color: #ed7d31;
  }

  .toggle-mobile-menu span {
    background-color: #ed7d31;
  }

  .header .content {
    justify-content: space-between;
  }
}
