.section-destaque-calendar-resultados {
  .row {
    > div {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        padding-right: 30px;
      }

      &:nth-child(2) {
        padding-left: 30px;
      }

      @media (max-width: 991px) {
        padding: 0 15px !important;

        &:nth-child(2) {
          margin-top: 38px;
        }
      }

      > h2 {
        color: var(--text-secondary-01-default);
        font-size: rem(28);
        font-weight: 700;
      }
    }

    .footer-central-result-home {
      display: flex;
      align-items: center;
      gap: 35px;

      margin-top: auto;

      a {
        color: var(--text-secondary-01-default);
        font-size: rem(14);
      }
    }
  }
}

.section-create-mailing {
  padding-top: 56px;
  padding-bottom: 56px;

  h3 {
    margin-top: 0;
    text-align: center;
    color: var(--text-secondary-01-default);
    margin-bottom: 8px;
  }

  p {
    text-align: center;
  }

  .form-mailing-home {
    display: flex;
    justify-content: center;
    gap: 16px;

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }

    margin-top: 40px;

    .div-input {
      max-width: 240px;
      background: transparent !important;

      @media (max-width: 575px) {
        max-width: 300px;
      }
    }

    .primary-button {
      padding-top: 6px;
      padding-bottom: 6px;

      @media (max-width: 575px) {
        max-width: 300px;
        width: 100%;
      }
    }
  }
}

.section-create-mailing-bg-blue {
  background-image: url("../images/bg-mailing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 991px) {
    background-color: var(--primary-2);
    background-image: none;
  }

  h3 {
    color: var(--text-white);
    margin-bottom: 8px;
    margin-top: 0;
    padding: 0;
  }

  p {
    color: var(--text-white);
  }

  .form-div-right {
    @media (min-width: 991px) {
      padding-left: 10px;
    }
  }

  .form-mailing-home {
    margin-top: 30px;

    .div-input {
      max-width: 100%;
      margin-bottom: 16px;

      input {
        background-color: var(--pure-white);
      }
    }

    .primary-button {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.section-razoes-investir {
  background-image: url("../images/bg-razoesInvestir.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--text-white);

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    color: var(--text-white);
  }
}

.section-flex-destaques-footer-home {
  padding: 0;

  .flex-destaques-footer-home {
    display: flex;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    .item-flex-home {
      width: calc(100% / 3);

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        transition: 0.3s ease-in;
      }

      &:hover {
        &::before {
          content: "";
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      > div {
        padding: 64px 30px;
        position: relative;
        z-index: 1;

        .secondary-button {
          border-color: var(--text-white);
          color: var(--text-white);
          margin-top: 40px;

          &:hover {
            background-color: var(--text-white);
            color: var(--pure-black);
          }
        }
      }

      @media (max-width: 991px) {
        width: 100%;
      }

      img {
        width: 56px;
      }

      h4 {
        color: var(--text-white);
        font-size: rem(20);
        margin-top: 12px;
        margin-bottom: 8px;
      }

      p {
        color: var(--text-white);
      }
    }
  }
}

.mailing-3 {
  .div-input {
    input {
      border-radius: 2px;
      border: none !important;
      color: #000 !important;
    }
  }

  .primary-button {
    border: 1px solid;
    border: 1px solid #1d1d1d !important;
    background-color: #1d1d1d !important;
    color: #fff !important;
  }

  .primary-button:hover {
    color: #fff !important;
  }
}

.num-brz {
  padding: 140px 0px;
  background-color: #595b61;
}

.content-carrosel-home {
  height: 749px;

  &::before {
    content: "";
    height: 749px;

    background: rgb(209, 90, 25);
    background: -moz-linear-gradient(
      90deg,
      rgba(209, 90, 25, 0.59) 13%,
      rgba(237, 125, 49, 0.31) 53%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(209, 90, 25, 0.59) 13%,
      rgba(237, 125, 49, 0.31) 53%
    );
    background: linear-gradient(
      90deg,
      rgba(209, 90, 25, 0.59) 13%,
      rgba(237, 125, 49, 0.31) 53%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d15a19",endColorstr="#ed7d31",GradientType=1);

    width: 100%;
    z-index: 0;
    display: flex;
    position: absolute;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .infos-banner-home {
    padding-top: 100px;
    height: 749px;
    width: 636px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: #fff;
      font-weight: 700;
      font-size: 34px;
      font-family: var(--font-roboto-slab);
      line-height: 44px;
      margin: 0;
      padding: 0;
    }

    p {
      color: #fff;
      font-weight: 300;
      font-size: 34px;
      font-family: var(--font-roboto-slab);
      line-height: 44px;
      margin-bottom: 40px;
    }

    .button {
      text-decoration: none;
      line-height: 1;
      border-radius: 150px;
      overflow: hidden;
      position: relative;
      background-color: #fff;
      color: #121212;
      border: none;
      cursor: pointer;
      width: fit-content;

      border: 1.5px solid #ed7d31;
    }

    .button-decor {
      position: absolute;
      inset: 0;
      border: 1px solid #ed7d31;
      background-color: #ed7d31;
      transform: translateX(-100%);
      transition: transform 0.4s;
      z-index: 1;

      border-radius: 150px;
    }

    .button-content {
      display: flex;
      align-items: center;
      font-weight: 600;
      position: relative;
      overflow: hidden;
      flex-direction: row-reverse;
    }

    .button__icon {
      width: 48px;
      height: 57px;
      background-color: #eeeeee;
      display: grid;
      place-items: center;

      img {
        width: 16px;
        height: 16px;
        z-index: 3;
      }
    }

    .button__text {
      display: inline-block;
      transition: color 0.2s;
      overflow: hidden;
      white-space: nowrap;
      padding: 16px 40px;
      color: #595b61;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
      z-index: 2;
    }

    .button:hover .button__text {
      color: #fff;
    }

    .button:hover {
      transition: 0.4s;

      background: rgb(255, 255, 255);
      background: -moz-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.2189250700280112) 13%,
        rgba(255, 255, 255, 0.22) 53%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.2189250700280112) 13%,
        rgba(255, 255, 255, 0.22) 53%
      );
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.2189250700280112) 13%,
        rgba(255, 255, 255, 0.22) 53%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);

      img {
        transition: 0.4s;
        filter: contrast(0.5) brightness(18);
      }

      .button__icon {
        transition: 0.4s;

        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.2189250700280112) 13%,
          rgba(255, 255, 255, 0.22) 53%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.2189250700280112) 13%,
          rgba(255, 255, 255, 0.22) 53%
        );
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.2189250700280112) 13%,
          rgba(255, 255, 255, 0.22) 53%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
      }
    }

    .button:hover .button-decor {
      transform: translate(0);
    }
  }
}

.container-brz {
  display: flex;
  padding: 0;
  gap: 24px;

  .first-infos {
    width: 50%;

    p {
      color: #fff;
      font-size: 14px;
      font-family: var(--font-sans);
      font-weight: 300;
      line-height: 19px;
      margin: 0;
      padding: 0;
    }

    h2 {
      color: white;
      font-size: 34px;
      font-family: var(--font-roboto-slab);
      font-weight: 300;
      line-height: 44.88px;
      word-wrap: break-word;
      padding: 0;
      margin-bottom: 40px;

      margin-top: 40px;
    }

    span {
      color: #dddddd;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
    }

    small {
      display: flex;
      color: #999999;
      font-size: 12px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 15.84px;
      word-wrap: break-word;
      margin-top: 40px;
    }
  }

  .second-infos {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-top: 40px;

    .content-second-infos {
      h1 {
        color: white;
        font-size: 52px;
        font-family: var(--font-roboto-slab);
        font-weight: 700;
        line-height: 68.64px;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
      }

      p {
        color: #cacfdb;
        font-size: 17px;
        font-family: var(--font-roboto-slab);
        font-weight: 400;
        line-height: 22.44px;
        word-wrap: break-word;
      }
    }
  }
}

.header-navigation-item:hover {
  font-weight: 700;
}

.header
  .content
  .nav-menu-header
  > ul
  .header-navigation-item
  .dropdown-toggle.active {
  color: #ed7d31 !important;
}

.header-navigation-item:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  transition: width 0.4s;
  background-color: #ed7d31;
  color: #ed7d31 !important;
  margin-top: -29px;
  position: absolute;
}

.header-navigation-item:hover:after {
  width: 100%;
}

.tabs-home {
  display: flex;
  gap: 171px;
  background-color: #eeeeee;

  .image-left-tabs-home {
    width: 60%;
    // width: 654px;

    img {
      object-fit: cover;
      height: 728px;
      // width: 654px;
    }
  }
}

.container-tabs-home {
  display: flex;
  align-items: center;
  padding: 80px 0px;

  @media (max-width: 1262px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  $max-tab-count: 5;
  $tab-wrap-border-radius: 6px;
  .tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: $tab-wrap-border-radius;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: transparent;
    // margin: 40px 0;
  }

  .tab {
    display: none;
    @for $i from 1 through $max-tab-count {
      &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        position: relative;
        top: 0;
        z-index: 1;
        transform: translateY(0px);
      }
    }

    &:checked + label {
      background-color: transparent;
      color: #ed7d31;
      font-family: var(--font-sans);
      border-bottom: 1px solid #ed7d31;
      cursor: default;
    }
    + label {
      cursor: pointer;
      display: block;
      text-decoration: none;
      // flex-grow: 3;
      text-align: center;
      // background-color: #f2f2f2;
      user-select: none;
      text-align: center;
      transition: 0.3s background-color ease, 0.3s box-shadow ease;
      height: 50px;
      box-sizing: border-box;
      padding: 15px;
      font-size: 16px;
      font-family: var(--font-sans);
      font-weight: 400;
      line-height: 24.8px;
      word-wrap: break-word;
    }

    &__content {
      padding-top: 40px;
      padding-bottom: 24px;
      border-bottom: 1px solid rgb(219, 219, 219);
      background-color: transparent;
      position: absolute;
      width: 82%;
      z-index: -1;
      opacity: 0;
      left: 0;

      span {
        color: #ed7d31;
        font-size: 16px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 24.8px;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
      }

      h3 {
        color: #595b61;
        font-size: 28px;
        font-family: var(--font-roboto-slab);
        font-weight: 600;
        line-height: 39.2px;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
        margin: 16px 0px;
      }

      p {
        color: #666666;
        font-size: 16px;
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 24.8px;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
      }

      h4 {
        color: #70737a;
        font-size: 24px;
        font-family: var(--font-roboto-slab);
        font-weight: 700;
        line-height: 31.68px;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 8px;
      }
    }
  }

  h1,
  h2 {
    margin: 0;
    color: #444;
    text-align: center;
    font-weight: 400;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 30px;
  }

  h3 {
    font-weight: 400;
  }

  p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

.texts-tab-icon {
  padding: 0px 20px !important;
  color: #595b61 !important;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 19.6px;
  word-wrap: break-word;
}

.image-left-tabs-home img {
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}
